# Ignore everything first
**

# Allow backend and necessary root files
!backend/
!backend/requirements.txt
!backend/app.py
!Dockerfile
!README.md
!.dockerignore
!.gitignore

# Re-ignore unwanted files within allowed folders
**/__pycache__/
*.py[cod]
*$py.class
venv/
.env
node_modules/
dist/
.git/
