# Ignore Python artifacts
**/__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Ignore Node.js artifacts
**/node_modules/
**/dist/
.npm
.eslintcache

# Ignore Git
.git/
.gitignore

# Ignore other OS files
.DS_Store
Thumbs.db
