fastapi
uvicorn[standard]
faster-whisper
python-multipart
pydantic
python-dotenv
requests
ffmpeg-python
transformers<4.40.0
torch
sentencepiece
protobuf
numpy
azure-cognitiveservices-speech
sarvamai
fpdf2[full]
uharfbuzz
